body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #EEEEEE;
}

code {
  font-weight: bold;
  background: #CCCCCC;
  color: #000000;
  padding: 12px;
  border-radius: 6px;
}
