body {
  padding: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #FFFFFF;
}

h1 {
  margin-top: 2em;
  }

  h1:first-of-type {
    margin-top: 0;
  }

h2 {
  margin-top: 2em;
}

pre {
  margin-bottom: 1em;
  font-family: 'Menlo';
  font-size: 14px;
  line-height: 150%;
  background: #EEEEEE;
  color: #000000;
  padding: 12px;
  border-radius: 6px;
}
